* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

header {
    padding: 2rem;
    background-color: #222;
    color: white;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a {
    color : white;
    text-decoration : none;
}